**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.pytest_cache
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/LICENSE
**/.venv
**/venv
**/ENV
**/.DS_Store
**/*.jsonl
**/*.swp
**/*.swo
**/node_modules
**/.uv

